<!DOCTYPE html>
<html>
    <head>
        <title> TODOreminder | Dashboard </title>
        <style>
            td,  th {
                padding: 7px 20px;
            }
            a {
                padding: 0px 20px;
            }
        </style>
    </head>
    <body>
        <h1> {{ username }} dashboard </h1>

        <p>Tasks: </p>
        {% if todos %}
            <table style="border: 1px solid;">
                <tr>
                    <th> Title </th>
                    <th> Description</th>
                    <th> Done </th>
                    <th> JSON </th>
                </tr>
                {% for todo in todos %}
                    <tr>
                        {% if todo.is_done %}
                            <td style="text-decoration:line-through;"> {{todo.title}} </td>
                            <td style="text-decoration:line-through;"> {{todo.description}} </td>
                            <td></td>
                        {% else %}
                            <td> {{todo.title}} </td>
                            <td> {{todo.description}} </td>
                            <td> 
                                <a href="done/{{todo.id}}"> Done </a> 
                            </td>
                        {% endif %}
                        <td>
                            <a href="/app/todos/{{todo.id}}?format=json">JSON</a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
        {% endif %}
        <br> <br>

        <a href="addtodo/"> Add todo<a>
        <a href=""> Delete todo</a>
        <a href="logout/"> Logout</a>
    </body>
</html>