<!DOCTYPE html>
<html>
    <head>
        <title> TODOreminder | Dashboard </title>
        <style>
            td {
                padding: 7px 20px;
                text-align: center;
            }
            th {
                padding: 7px 20px;
                text-align: center;
                border-bottom: 1px solid;
            }
            a {
                padding: 0px 20px;
            }
        </style>
    </head>
    <body>
        <h1> {{ username }} dashboard </h1>
        <br>
        <h4>Tasks: </h4>
        {% if todos %}
            <table style="border: 1px solid;">
                <tr>
                    <th> N° </th>
                    <th> Title </th>
                    <th> Description</th>
                    <th> Done </th>
                    <th> JSON </th>
                </tr>
                {% for todo in todos %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        {% if todo.is_done %}
                            <td style="text-decoration:line-through;"> {{todo.title}} </td>
                            <td style="text-decoration:line-through;"> {{todo.description}} </td>
                            <td> x </td>
                        {% else %}
                            <td> {{todo.title}} </td>
                            <td> {{todo.description}} </td>
                            <td> 
                                <a href="done/{{todo.id}}"> Done </a> 
                            </td>
                        {% endif %}
                        <td>
                            <a href="/app/todos/{{todo.id}}?format=json">JSON</a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
            

            <br> <br> 

            {% if current_page == 1 %}
                <p> {{current_page}} <a href="/app/{{next_page}}" class="next round">&#8250;</a> </p>
            {% else %}
                {% if current_page == amount_pages %}
                    <p> <a href="/app/{{prev_page}}" class="previous round">&#8249;</a> {{current_page}} </p>
                {% else %}
                    <p>
                        <a href="/app/{{prev_page}}" class="previous round">&#8249;</a>
                        {{current_page}}
                        <a href="/app/{{next_page}}" class="next round">&#8250;</a>
                    </p>
                {% endif %}
            {%endif%}
        {% endif %}
        <br> <br>
        <a href="addtodo/"> Add todo<a>
        <a href="logout/"> Logout</a>
    </body>
</html>