<!DOCTYPE html>
<html>
    <head>
        <title> TODOreminder | app </title>
        <meta charset="utf-8">
    </head>
    <body>

        <h2>Welcome to TODOreminder!</h2>
        <br>
        <form action="login/" method="post">
            <label for="usr-username">username:</label>
            <input id="usr-username" type="text" name="username" required>
        <label for="usr-pass">password:</label>
        <input id="usr-pass" type="password" name="password" required>
        
        <input type="submit" value="Login">
        </form>

        <br> <br>
        <a href="singup"> Sing up </a>
    </body>
</html>