<!DOCTYPE html>
<html>
    <head>
        <title> TODOreminder | SingUp </title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>SingUp</h2>
        <form action="/singup/" method="post">

            <label for="usr-first-name">first name:</label>
            <input id="usr-first-name" type="text" name="first_name">
            <br>
            <br>
            <label for="usr-last-name">last name:</label>
            <input id="usr-last-name" type="text" name="last_name">
            <br>
            <br>
            <label for="usr-name">username:</label>
            <input id="usr-name" type="text" name="text">
            <br>
            <br>
            <label for="usr-email">email:</label>
            <input id="usr-email" type="email" name="email">
            <br>
            <br>
            <label for="usr-pass">password:</label>
            <input id="usr-pass" type="password" name="password">
            <br>
            <br>
            <label for="usr-pass">password:</label>
            <input id="usr-pass" type="password" name="password">
            <br>
            <br>
            <input type="submit" value="Singup">
        </form>
</html>