{% extends 'app/base.html' %}
{% block content %}

<p>Usuario: {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>

<hr>
<h1>Mis tareas</h1>

<table>

    {% if object_list|length == 0 %}
        <h3>No se encontraron tareas</h3>
    
    {% else %}
        <tr>
            <th>Tarea</th>
            <th>Fecha fin</th>

        </tr>
        {% for todo in object_list %}
            <tr>
                {% if todo.is_done %}
                    <td><del><a href="{% url 'editar' todo.id %}">{{todo.title}}</a></del></td>
                {% else %}
                    <td><a href="{% url 'editar' todo.id %}">{{todo.title}}</a></td>
                {% endif %}
                <td>{{todo.deadline}} </td>
                <td><a href="{% url 'eliminar' todo.id %}"> Eliminar </a></td> 
            </tr>
        {% endfor %}
    {% endif %}
</table>

<h1></h1>
<h1></h1>

<a href="{% url 'agregar' %}">Nueva tarea</a>

<h1></h1>
<hr>
<h1></h1>
<h1></h1>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inicio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}