<html>
    <head>
        <title> TODOreminder</title>
        <meta charset="utf-8">
    </head>
    <body>

        <center>
        <h1>TODOreminder</h1>
        <h3>Por favor, inicie sesion:</h3>
        <br>
        <form action="login/" method="post">
            <label for="usr-username">Usuario:</label>
            <input id="usr-username" type="text" name="username" required>
        <br>
        <label for="usr-pass">Contraseña:</label>
        <input id="usr-pass" type="password" name="password" required>
        <br>
        <input type="submit" value="Login">
        </form>

        <br> <br>
        <h2><a href="singup"> Registrarse </a></h2>
        </center>

    </body>
</html>