<html>
    <head>
        <title> Registrarse </title>
        <meta charset="utf-8">
    </head>
    <body>
        <center><h2>Crear cuenta</h2>
        <form action="/singup/" method="post">

            <label for="usr-name">Usuario:</label>
            
            <input id="usr-name" type="text" name="username" required>
            <br>
            <br>
            <label for="usr-last-name">Apellido:</label>
            <input id="usr-last-name" type="text" name="last_name" required>
            <br>
            <br>
            <label for="usr-first-name">Nombre:</label>
            <input id="usr-first-name" type="text" name="first_name" required>
            <br>
            <br>
            <label for="usr-email">Email:</label>
            <input id="usr-email" type="email" name="email" required>
            <br>
            <br>
            <label for="usr-pass">Contraseña:</label>
            <input id="usr-pass" type="password" name="password" required>
            <br>
            <input type="submit" value="Crear Cuenta">
        </form></center>
</html>